@font-face{
    font-family: 'Lato';
    src: url('font/Lato-Regular.ttf');
}
*{
    box-sizing: border-box;
    resize: none;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(0deg,#9fc5e8, #fff);
    font-family: "Lato", sans-serif;
}

#keyboard{
    display: block;
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 690px;
    height: 235px;
    background-size: 400%;
    background: linear-gradient(30deg, #c2e59c, #64b3f4);
    animation: bggradient 5s ease infinite;
    border: 2px solid #000;
    padding: 5px;
}

@keyframes bggradient {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
#input{
    display: block;
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 940px;
    height: 200px;
    border: 2px solid black;
    background: #fff;
}
#infoText{
    position: relative;
    top: 600px;
    width: 213px;
    margin: 0 auto;
}
.key{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 2px;
    padding: 2px;
    box-shadow: 0 0 3px black;
    border: 1px solid black;
    border-radius: 4px;
    float: left;
    color: #000;
    vertical-align: top;
}
.key span{
    font-size: 12px;
    position: relative;
    bottom: 7px;
    right: 5px;
}
.pressed{
    background: linear-gradient(30deg, #f2709c, #ff9472);
    box-shadow: inset 0 0 3px black;
}
img{
    width: 40px;
    height: 40px;
}
.key:nth-child(14){
    width: 98px;
}
.key:nth-child(15){
    width: 90px;
    margin-right: 10px;
}
.key:nth-child(29){
    width: 97px;
}
.key:nth-child(41){
    width: 85px;
}
.key:nth-child(42){
    width: 105px;
    margin-right: 10px;
}
.key:nth-child(53){
    width: 105px;
    margin-left: 10px;
}
.key:nth-child(55){
    width: 54px;
}
.key:nth-child(57){
    width: 290px;
}
.key:nth-child(60){
    height: 19px;
    position: relative;
    top: 21px;
    margin-left: 10px;
}
.key:nth-child(61){
    position: relative;
    left: 3px;
    margin-right: 5px;
    height: 19px;

}
.key:nth-child(62){
    position: relative;
    right: 44px;
    top: 21px;
    height: 19px;
}
.key:nth-child(63){
    position: relative;
    height: 19px;
    left: 102px;
    bottom: 2px;
}
.active{
    background: orange;
}